<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1 v-if="v1">去新疆</h1>
    <h1 v-else>去西藏</h1>

    <div v-if="v2 === '北京'">
        <h1>天安门</h1>
    </div>
    <div v-else-if="v2 === '新疆'">
        <h1>乌鲁木齐</h1>
    </div>
    <div v-else-if="v2 ==='西藏'">
        <h1>拉萨</h1>
    </div>
    <div v-else>
        <h1>大理</h1>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            v1: true,
            v2: "新疆"
        }
    })
</script>
</body>
</html>
